.brand-wrapper {
    height: 80vh;
    background: linear-gradient(to bottom, #90dffe 0%, #38a3d1 100%);
    position: relative;

    .carousel-heading {
        font-size: 4rem;
    }

    &__2::after {
        content: "";
        background: url('/../assets/img/clouds.png');
        background-size: contain;
        position: absolute;
        inset: 0;
        animation: animate-left-aeroplane 10s linear infinite;

    }

    .sub-heading {
        position: relative;

        &::after {
            content: "GUARANTEE";
            position: absolute;
            background: #f5ce42;
            color: #000000;
            font-weight: bold;
            padding: 8px 12px;
            font-size: 1rem;
            bottom: -18px;
            right: 125px;
            transform: rotate(-10deg);
        }
    }

    .animate {
        &-right {
            animation: animate-right 1.5s ease-out;
        }

        &-left {
            animation: animate-left 1.5s ease-out;
        }
    }

    @keyframes animate-right {
        from {
            transform: translateX(-100vw);
        }
        to {
            transform: translateX(0);
        }
    }

    @keyframes animate-left {
        from {
            transform: translateX(100vw);
        }
        to {
            transform: translateX(0);
        }
    }

    @keyframes animate-left-aeroplane {
        from {
            transform: translateX(100vw);
        }
        to {
            transform: translateX(-100vw);
        }
    }
}

.services {
    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        margin-bottom: 3rem;
        color: #1e5799;
    }
}

.button_link {
    color: #eee;
}

.testimonials {

    .img_name {
        height: 40px;
        width: 40px;
        background-color: #eeeeee;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .google_g_logo {
        height: 30px;
        width: 30px;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .overall_google_rating {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .google_logo {
            height: 35px;
            width: 94px;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    &-wrapper {
        &__testimonial {
            overflow-y: auto;
            max-height: 120px;
            height: 120px;
        }
    }
}


.star {
    position: relative;
    display: inline-block;
    color: #d3d3d3;
}

.filled {
    color: #FFDF00;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #FFDF00;
}

@media screen and (max-width: 1200px) {
    .brand-wrapper {
        .sub-heading {
            &::after {
                right: 30px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .brand-wrapper {
        .carousel-heading {
            font-size: 3rem;
        }
        .sub-heading {
            &::after {
                bottom: -25px;
                right: 10px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .brand-wrapper {
        .carousel-heading {
            font-size: 2rem;
        }
        .sub-heading {
            &::after {
                bottom: -33px;
                right: 15px;
            }
        }
    }
}

@media screen and (max-width: 468px) {
    .brand-wrapper {
        height: 60vh;
        .carousel-heading {
            font-size: 1rem;
        }
        .sub-heading {
            &::after {
                bottom: -28px;
                right: 50px;
                font-size: .75rem;
            }
        }

    }
    .copyright {
        font-size: 80%;
    }
}

@media screen and (max-width: 392px) {
    .brand-wrapper {
        .sub-heading {
            &::after {
                bottom: -24px;
                right: 15px;
                font-size: .6rem;
            }
        }

    }
}

